.navbar-brand {
    cursor: pointer;
}

.myCursor {
    cursor: pointer;
}

#signInView {
    position: absolute;
    left: 40%;
    top: 10%;
}

#registerView {
    position: absolute;
    left: 40%;
    top: 10%;
}

#profileView {
    padding-left: 15px;
    padding-right: 15px;
}

#mainView {
    padding-left: 15px;
    padding-right: 15px;
}

#createAnimalView {
    padding-left: 15px;
    padding-right: 15px;
}

#graphicsView {
    padding-left: 15px;
    padding-right: 15px;
}

#notificationsView {
    padding-left: 15px;
    padding-right: 15px;
}

#callVaccineView {
    padding-left: 15px;
    padding-right: 15px;
}

#callTreatmentView {
    padding-left: 15px;
    padding-right: 15px;
}

#callsView {
    padding-left: 15px;
    padding-right: 15px;
}

#vaccinationCardView {
    padding-left: 15px;
    padding-right: 15px;
}